<html>
    <head>
        <title>Artists</title>

        <link rel="stylesheet" type="text/css" href="/views/styles/home.css">
        <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script type="text/javascript">
            toHome = () => {                
                window.location.href = "/home";
            }

            toAlbums = () => {
                window.location.href = "/albums";
            }

            toSongs = () => {
                window.location.href = "/songs";
            }

            toArtists = () => {
                window.location.href = "/artists";
            }
        </script>
    </head>