<%- include layouts/header.ejs %>
        <div style="padding: 10px 10px 10px 10px;">
            <h2>Welcome to my music library<h2>
            <div>
                <button onclick="toArtists()" class="btn btn-success">See Artists</button>
                <button onclick="toAlbums()" class="btn btn-success">See Albums</button>
                <button onclick="toSongs()" class="btn btn-success">See Songs</button>
            </div>
        </div>
<%- include layouts/footer.ejs %>